{% extends 'base.html.twig' %}

{% block title %}ChoiceDelivery{% endblock %}

{% block body %}

<br><br>

	<div class="container rounded pb-3" style="background-color: #FFC433;">

<br><br>

<h1 class="text-center"> Sélectionner votre livreur </h1>
<hr><br>


{% set formhtml %}
{% set params = {'adrL' : adrL, 'adrF' : adrF } %}
{{ form_start(f, { action : path('recap', params) }) }}
{{ form_row(f.transporteurs, {
    'label_attr' : { 'class' : 'fs-5'},
    'attr' : { 'class' : 'alert alert-primary'}
}) 
}}
<hr>

{{ form_widget(f) }}
{{ form_end(f) }}

</div>
{% endset %}
{{ formhtml|replace({'[br]' : '<br>'})|raw}}
{% endblock %}



