{% extends 'base.html.twig' %}

{% block title %}
Choix des adresses
{% endblock %}

{% block body %}
	<br><br>
	<div class="container rounded pb-3" style="background-color: #FFC433;">
		<br><br>
		<h1 class="text-center">Select your addresses</h1>

		<hr>

		<br>


		{{form_start(f, { action : path('choisirTransporteur')})}}
		{{ form_row(f.adresseLivraison, {'label_attr' : { 'class' : 'fs-4'}, 'attr' : { 'class' : 'alert alert-primary'}}) }}
		{{ form_row(f.adresseFacturation, {'label_attr' : { 'class' : 'fs-4'}, 'attr' : { 'class' : 'alert alert-primary'}}) }}
		<hr>

		{{ form_widget(f.submit) }}

		{{ form_end(f) }}
        </div>

	{% endblock %}
