{% extends 'base.html.twig' %}

{% block title %}Cars !{% endblock %}

{% block body %}
<br>
<h1 class="row rounded justify-content-center m-4 bg-info" style="color: black; background-color: orange;">Find your car ( OO \../ OO ) </h1>

<br>
<div class="row justify-content-center m-3">
<div class="col w-75 bg-primary rounded p-4" style="display: flex; flex-wrap: wrap;">
{# <div class="row justify-content-center m-3"> #}
{% for product in products %}

<div class="card text-white bg-dark m-4 w-25" style="">
  <h3 class="card-header">
  <a style="text-decoration: none;" href="{{path('product', {'id' : product.id})}}"><div class="row rounded justify-content-center" style="color: orange;">{{product.name}}</div></a>
</h3>
  <div class="card-body">
    <h5 class="card-title">
    <p>{{product.subtitle}}</p>
</h5>
  </div>
    <div class="row justify-content-center mx-auto">
    <a href="{{path('product', {'id' : product.id})}}"> <img alt="oups" class="row img-fluid rounded justify-content-center m-1" src="/assets/img/products/images/{{product.image}}"></a>
</div>
  <div class="card-body">
    <p class="card-text"><p>{{product.description}}</p>
  </div>
  <div class="card-body">
    <p>{{ (product.price /100) |number_format(2,',','.')}} € </p>
  </div>
  <div class="card-body">
    <a href="{{ path('ajouterPanier', { 'id' : product.id})}}" class="btn btn-info">Add to cart</a>
  </div>
  </div>
  
  <hr>
{% endfor %}
  {# </div> #}
  </div>
  </div>
{% endblock %}

{# <div class="container w-25" style="background-color: #363636; color: #F0A33B; font-size: bold;">

<div class="row">
<div class="col-sm-9">
<div class="row">

<a href="{{path('product', {'id' : product.id})}}"><div style="color: orange;">{{product.name}}</div><br><br></a>

<div class="row h-100 justify-content-center align-items-center">
    <div class="col-1">
<a href="{{path('product', {'id' : product.id})}}"> <img alt="oups" class="w-50 h-50 m-5" src="/assets/img/products/images/{{product.image}}"></a>
</div>
</div>
<p>{{product.subtitle}}</p>
<p>{{ (product.price /100) |number_format(2,',','.')}} € </p>
</div>
</div>
</div>
<a href="{{ path('ajouterPanier', { 'id' : product.id})}}" class="btn btn-warning">Ajouter au panier</a>
<hr>
</div>
{# </div> #}


{# 
</div>
</div>
</div> #}





